.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13rem 0 6rem 0;
  min-width: 100vw;
  min-height: 100vh;
}

.card {
  display: grid;
  justify-items: center;
  background-image: url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--white);
  width: 85vw;
  border-radius: 2rem;
}

.card__img-box {
  display: none;
}

.card__img-outer-container {
  display: flex;
  justify-content: center;
  height: 0rem;
}

.card__img-woman-container {
  transform: translateY(-9rem);
  width: 20rem;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 11rem;
}

.card__heading {
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: var(--font-bold);
  font-size: 3rem;
}

.accordions-container {
  width: 85%;
  margin-bottom: 3rem;
}

.accordion__question {
  cursor: pointer;
  list-style: none;
  font-size: 1.1rem;
  color: var(--dark-grayish-blue);
  display: flex;
  justify-content: space-between;
}

.accordion__question:focus {
  outline: 3px solid rgb(152, 205, 255);
}

.accordion__question::-webkit-details-marker {
  display: none;
}

.accordion__question::after {
  content: url('../images/icon-arrow-down.svg');
  display: inline-block;
}

.accordion[open] .accordion__question {
  color: #000;
}

.accordion[open] .accordion__question:focus {
  outline: 3px solid rgb(152, 205, 255);
}

.accordion[open] .accordion__question::after {
  transform: scaleY(-1);
}

.accordion__answer {
  color: var(--dark-grayish-blue);
  margin-top: 1rem;
  display: inline-block;
  width: 90%;
}

.accordion__hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--light-grayish-blue);
  margin: 1.3rem 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .card__img-box {
    display: block;
  }
}
